@import "tailwindcss";

:root {
  --bg: #0f0f14;
  --text: #eaeaf0;

  --primary: #a78bfa;   /* pastel purple */
  --secondary: #7dd3fc; /* pastel blue */
  --accent: #f9a8d4;    /* pastel pink */
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}